{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.cli {:mvn/version "1.1.230"}
        com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}
        cljcc/cljcc {:local/root "../cljcc-compiler"}}
 :aliases
 {:run
  {:main-opts ["-m" "cli.cli"]}}}
